  <div class="col-md-6 offset-md-3 text-center">
    <h1>
      Resumes
    </h1>
  </div>
<div class="jumbotron col-md-6 offset-md-3 text-center">
  <div class="card card body">
<h4>Resume 1</h4>
<a href="/resumelist/view" class="btn btn-info" role="button">View</a>
  </div>
  </div>  
  <div class="jumbotron col-md-6 offset-md-3">
    <a href="/resumelist/create" class="btn btn-info text-center" role="button">+</a>
  </div>
